<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 home-body">
        <ul>
          <li>
            <h3 class="parcours-title">IPI</h3>
            <b>Octobre 2020 - aujourd'hui</b>
            <ul>
              <li>
                <p>Chef de projet informatique</p>
              </li>
            </ul>
            <b>Octobre 2019 - Septembre 2020</b>
            <ul>
              <li>
                <p>Concepteur Développeur full stack</p>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="parcours-title">L'Ecole LDLC</h3>
            <b>2016 - 2019</b>
            <ul>
              <li>
                <p>Bac +3 Chef de projet de la transition numérique</p>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="parcours-title">IUT Informatique</h3>
            <b>2015 - 2016</b>
            <ul>
              <li>
                <p>1 an de formation en programmation et développement informatique</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
