<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <div class="p-profile"></div>
      </div>
      <div class="col-sm-7 home-body">
        <ul>
          <li>
            <h3 class="entreprise-title">Developpeur RPA</h3>
            <b>Octobre 2020 - aujourd'hui | Ohlone | Lyon</b>
            <ul>
              <li>
                <p>Automatisme de process métier</p>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="entreprise-title">Developpeur Web</h3>
            <b>Octobre 2019 - Septembre 2020 | Datafirst | Lyon</b>
            <ul>
              <li>
                <p>Développement CRM web en C# .NET</p>
              </li>
            </ul>
          </li>
          <li>
            <h3 class="entreprise-title">Digital Marketing</h3>
            <b>Février 2019 - Octobre 2019 | DimoSoftware | Lyon</b>
            <ul>
              <li>
                <p>Gestion des différents sites web sous Wordpress</p>
              </li>
              <li>
                <p>Optimisation du contenu et du référencement</p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
